{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo; {% translate 'Password reset' %}
    </div>
{% endblock %}

{% block content %}

    <p>{% translate 'Enter the received code please.' %}</p>

    <form method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row field-email">
                {{ form.code.errors }}
                <div class="flex-container">
                    <label for="id_code">{% translate 'One Time Code:' %}</label>
                    {{ form.code }}
                </div>
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="{% translate 'Submit' %}">
        </div>
    </form>

    <small>have not received code yet? </small>
    <form method="post" action="{% url 'phonenumber_otp:login-request' %}">
        {% csrf_token %} <input type="hidden" value="{{ request.session.phone_number }}" name="phone_number"/>
        <div class="submit-row">
            <input type="submit" value="{% translate 'Resend again' %}"/>
        </div>
    </form>

{% endblock %}