{% load i18n %}
<div class="comment-form">
    <h6 class="font-26 mb-2 title-font">{% trans 'What do you think about this product ?' %}</h6>
    <p class="font-14 text-muted mt-2">
        {% trans 'Click submit button to send a new comment. If you bought this product your comment will mark as buyer.' %}
    </p>
    <div class="row gy-4">
        <div class="col-12">
            <form method="post" action="#descBox">
                <div class="row">
                    {% csrf_token %}
                    <div class="col-sm-6">
                        <div class="comment-item mb-3">
                            {% include 'utils/forms/_form_field.html' with field=form.email label_class='form-label label-float' %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="comment-item mb-3">
                            {% include 'utils/forms/_form_field.html' with field=form.fullname label_class='form-label label-float' %}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="comment-item d-flex align-items-center mb-3">
                            {{ form.save_info }}
                            <label for="{{ form.save_info.id_for_label }}" class="form-check-label d-block">
                                {{ form.save_info.label }}
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group mt-3">
                            <label for="commentRating" class="">{% trans 'Your score' %}</label>
                            <fieldset id="commentRating" class="rating">

                                <input type="radio" id="star5" name="score" value="5"/>
                                <label for="star5">{% trans '5 stars' %}</label>

                                <input type="radio" id="star4" name="score" value="4"/>
                                <label for="star4">{% trans '4 stars' %}</label>

                                <input type="radio" id="star3" name="score" value="3"/>
                                <label for="star3">{% trans '3 stars' %}</label>

                                <input type="radio" id="star2" name="score" value="2"/>
                                <label for="star2">{% trans '2 stars' %}</label>

                                <input type="radio" id="star1" name="score" value="1"/>
                                <label for="star1">{% trans '1 star' %}</label>

                            </fieldset>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="comment-item my-3">
                            {% include 'utils/forms/_form_field.html' with field=form.body label_class='form-label label-float' %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mt-3">
                            {% include 'utils/forms/_form_field.html' with field=form.pros label_class='text-success mb-2' %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mt-3">
                            {% include 'utils/forms/_form_field.html' with field=form.cons label_class='text-danger mb-2' %}
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-comment border-0 main-color-one-bg my-3 mx-auto btn-lg waves-effect waves-light"
                                type="submit">
                            {% trans 'Submit comment' %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% for comment in comments %}
    <div class="comment mb-4">
        <div class="title">
            <div class="row align-items-center">
                <div class="col-sm-10">
                    <div class="d-flex align-items-center">
                        <div class="avatar p-2 bg-white shadow-box rounded-circle">
                            <img src="assets/img/user.jpg" alt="" class="img-fluid rounded-circle">
                        </div>
                        <div class="d-flex flex-wrap align-items-center ms-2">
                            <h6 class="text-muted font-14">امیر رضایی</h6>
                            <h6 class="text-muted font-14 ms-2">1 دی ماه 1401
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="d-flex star justify-content-end">
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="desc py-3">
            <p class="font-14 text-muted">
                بنده این گوشی را خریداری کردم و کاملا راضی هشتم و بهترین گارانتی
                را دارد
                و پلپ بود و حتما به شما هم پیشنهاد می نمایم که چنانچه قصد خرید
                این کالا
                را دارید از دیجی کالا تهیه نمایید ؛پارت نامبر من هم سنگاپور بود
                که
                بهترین پارت نامبر در بازار است و هیچ محدودیتی ندارد.
            </p>
        </div>
        <div class="foot">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="comment-rates">
                        <div class="positive rounded-4">
                            <div class="d-flex align-items-center justify-content-start">
                                <h6 class="font-14 me-3">نقاط قوت</h6>
                                <nav class="navbar navbar-expand positive-nav">
                                    <ul class="navbar-nav flex-wrap">
                                        <li class="nav-item"><span class="nav-link font-14">جنسبدنه</span></li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="negitive rounded-4">
                            <div class="d-flex align-items-center justify-content-start">
                                <h6 class="font-14 me-3">نقاط ضعف</h6>
                                <nav class="navbar navbar-expand negitive-nav">
                                    <ul class="navbar-nav flex-wrap">
                                        <li class="nav-item"><span class="nav-link font-14">جنس  بدنه</span></li>
                                     

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="comment-reply">
                        <a href=""
                           class="span-primary px-4">پاسخ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
