{% load i18n jalali_tags %}
<div class="comment-form">
    <h6 class="font-26 mb-2 title-font">{% trans 'What do you think about this product ?' %}</h6>
    <p class="font-14 text-muted mt-2">
        {% trans 'Click submit button to send a new comment. If you bought this product your comment will mark as buyer.' %}
    </p>
    <div class="row gy-4">
        <div class="col-12">
            <form method="post" action="#comments-section" id="comment-form">
                <div class="row">
                    {% csrf_token %}
                    <div class="col-sm-6">
                        <div class="comment-item mb-3">
                            {% include 'utils/forms/_form_field.html' with field=form.email label_class='form-label label-float' %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="comment-item mb-3">
                            {% include 'utils/forms/_form_field.html' with field=form.fullname label_class='form-label label-float' %}
                        </div>
                    </div>
                    <div class="col-12" id="comment-save-info-input">
                        <div class="comment-item d-flex align-items-center mb-3">
                            {{ form.save_info }}
                            <label for="{{ form.save_info.id_for_label }}" class="form-check-label d-block">
                                {{ form.save_info.label }}
                            </label>
                        </div>
                    </div>
                    <div class="col-12" id="comment-score-input">
                        <div class="form-group mt-3">
                            <label for="commentRating" class="">{% trans 'Your score' %}</label>
                            <fieldset id="commentRating" class="rating">

                                <input type="radio" id="star5" name="score" value="5"/>
                                <label for="star5">{% trans '5 stars' %}</label>

                                <input type="radio" id="star4" name="score" value="4"/>
                                <label for="star4">{% trans '4 stars' %}</label>

                                <input type="radio" id="star3" name="score" value="3"/>
                                <label for="star3">{% trans '3 stars' %}</label>

                                <input type="radio" id="star2" name="score" value="2"/>
                                <label for="star2">{% trans '2 stars' %}</label>

                                <input type="radio" id="star1" name="score" value="1"/>
                                <label for="star1">{% trans '1 star' %}</label>

                            </fieldset>
                        </div>
                    </div>
                    <div class="col-12" id="comment-body-input">
                        <div class="comment-item my-3">
                            {% include 'utils/forms/_form_field.html' with field=form.body label_class='form-label label-float' %}
                        </div>
                    </div>
                    <div class="col-md-6" id="comment-pros-input">
                        <div class="form-group mt-3">
                            {% include 'utils/forms/_form_field.html' with field=form.pros label_class='text-success mb-2' %}
                        </div>
                    </div>
                    <div class="col-md-6" id="comment-cons-input">
                        <div class="form-group mt-3">
                            {% include 'utils/forms/_form_field.html' with field=form.cons label_class='text-danger mb-2' %}
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-comment border-0 main-color-one-bg my-3 mx-auto btn-lg waves-effect waves-light"
                                type="submit">
                            {% trans 'Submit comment' %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="comments-section"></div>
{% if comments %}
    {% for comment in comments %}
        <div class="comment mb-4">
            <div class="title">
                <div class="row align-items-center">
                    <div class="col-sm-10">
                        <div class="d-flex align-items-center">
                            <div class="avatar p-2 bg-white shadow-box rounded-circle">
                                <img src="assets/img/user.jpg" alt="" class="img-fluid rounded-circle">
                            </div>
                            <div class="d-flex flex-wrap align-items-center ms-2">
                                <h6 class="text-muted font-14">{{ comment.fullname }}</h6>
                                <h6 class="text-muted font-14 ms-2">{{ comment.date_created_jalali }}</h6>
                                {% if comment.is_admin %}
                                    <span class="badge text-bg-primary px-2 pt-2 ms-2 rounded-pill">{% trans 'Admin' %}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if comment.score %}
                        <div class="col-sm-2">
                            <div class="d-flex star justify-content-end">
                                <i class="bi bi-star{% if comment.score == 5 %}-fill{% endif %}"></i>
                                <i class="bi bi-star{% if comment.score >= 4 %}-fill{% endif %}"></i>
                                <i class="bi bi-star{% if comment.score >= 3 %}-fill{% endif %}"></i>
                                <i class="bi bi-star{% if comment.score >= 2 %}-fill{% endif %}"></i>
                                <i class="bi bi-star{% if comment.score >= 1 %}-fill{% endif %}"></i>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="desc py-3">
                <p class="font-14 text-muted">
                    {{ comment.body }}
                </p>
            </div>
            <div class="foot">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <div class="comment-rates">
                            {% if comment.pros %}
                                <div class="positive rounded-4">
                                    <div class="d-flex align-items-center justify-content-start">
                                        <h6 class="font-14 me-3">{% trans 'Pros' %}</h6>
                                        <nav class="navbar navbar-expand positive-nav">
                                            <ul class="navbar-nav flex-wrap">
                                                {% for p in comment.get_pros %}
                                                    <li class="nav-item"><span class="nav-link font-14">{{ p }}</span>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            {% endif %}
                            {% if comment.cons %}
                                <div class="negitive rounded-4">
                                    <div class="d-flex align-items-center justify-content-start">
                                        <h6 class="font-14 me-3">{% trans 'Cons' %}</h6>
                                        <nav class="navbar navbar-expand negitive-nav">
                                            <ul class="navbar-nav flex-wrap">
                                                {% for c in comment.get_cons %}
                                                    <li class="nav-item"><span class="nav-link font-14">{{ c }}</span>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="comment-reply">
                            <button class="span-primary px-4 border-0 reply-btn" data-reply-to-id="{{ comment.id }}"
                                    data-reply-to-name="پاسخ به {{ comment.fullname }}"> <!-- todo: fix trans -->
                                {% trans 'Reply' %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% for reply_comment in comment.replies.all %}
                {% include 'comments/_reply-comment.html' with reply_comment=reply_comment %}
            {% endfor %}
        </div>
    {% endfor %}
    <div class="my-paginate mt-5" id="comments-page">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link rounded-3"
                           href="?page={{ page_obj.previous_page_number }}#comments-section"><i
                                class="bi bi-chevron-right"></i></a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link rounded-3" href="#"><i class="bi bi-chevron-right"></i></a>
                    </li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                        <a class="page-link rounded-3" href="?page={{ num }}#comments-section">{{ num }}</a>
                    </li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link rounded-3" href="?page={{ page_obj.next_page_number }}#comments-section">
                            <i class="bi bi-chevron-left"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link rounded-3" href="#"><i class="bi bi-chevron-left"></i></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% else %}
    <div class="comment">
        <div class="alert alert-warning py-4">
            <div class="text-center">
                <p class="mb-0">
                    <i class="bi bi-info-circle me-2"></i>
                    {% trans 'There is no comment for this product' %}
                </p>
            </div>
        </div>
    </div>
{% endif %}
