<div class="product-meta py-20">
    <div class="container-fluid">
        <div class="content-box">
            <div class="container-fluid">
                <div class="row gy-3">
                    <div class="col-lg-4">
                        {% include 'products/components/product_meta/_product-gallery.html' %}
                    </div>
                    <div class="col-lg-8">
                        {% include 'products/components/product_meta/_product-title.html' %}
                        {% include 'products/components/product_meta/_product-overall.html' %}
                        {% include 'products/components/product_meta/_product-features.html' %}
                        {% include 'products/components/product_meta/_product-colors.html' %}
                        {% if product_variant.in_stock %}
                           {% include 'products/components/product_meta/_product-price.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="Dottedsquare-product d-lg-flex d-none"></div>
    </div>
</div>