{% load thumbnail i18n %}
{% with related_variants=product_variant.get_random_related_variants %}
    {% if related_variants %}
        <div class="product-boxs site-slider py-30">
            <div class="container-fluid">

                <div class="slider-title">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="slider-title-desc">
                                {% if promotions_available %}
                                    <div class="slider-title-icon">
                                        <div class="slider-title-icon-parent">
                                            <div>
                                                <span><i class="bi bi-caret-right-fill"></i></span>
                                                <h6>{% trans 'Discounted products' %}</h6>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="slider-title-title">
                                    <h2 class="h1">{% trans 'products' %}<span class="main-color-one-color title-font">{% trans 'Related' %}</span>
                                    </h2>
                                    <p class="mb-0 mt-2 h5 text-muted">
                                        {% trans 'You can see products related with this product bellow' %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% if promotions_available %}
                            <div class="col-sm-4">
                                <div class="slider-title-link">
                                    <a href="" class="main-color-one-color font-16">{% trans 'View all' %}<i class="bi bi-caret-left-fill"></i></a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="slider-parent">
                    <div class="swiper" id="product-slider">
                        <div class="swiper-wrapper ">
                            {% for related_variant in related_variants %}
                                {% include 'products/components/related_products/_slider-item.html' with related_variant=related_variant %}
                            {% endfor %}
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="amazing-offer-btn" data-scroll-to="#banners"></button>
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}
