{% load i18n %}
<div class="product-desc py-20" id="descBox">
    <div class="container-fluid">
        {% include 'products/components/product_description/_nav-tab.html' %}
        <div class="content-box">
            <div class="container-fluid">
                <div class="product-descs" id="prodesc">
                    <div class="product-desc">
                        <div class="product-desc-tab-content">
                            <div class="tab-content" id="productTabContent">
                                {% include 'products/components/product_description/_product-overview.html' %}
                                {% include 'products/components/product_description/_product-specifications.html' %}
                                <div class="{% if active_tab == 'comments' %}active show {% endif %}tab-pane fade product-comment-content" id="productComment-pane">
                                    {{ comments_partial }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>