{% extends 'shared/_auth_base.html' %}
{% load static i18n %}
{% block body_content %}
    <div class="content vh-100">
        <div class="container-fluid h-100">
            <div class="auth h-100 d-flex align-items-center">
                <div class="container-fluid">
                    <div class="auth-items">
                        <div class="row justify-content-center">
                            <div class="col-lg-4">

                                <div class="auth-logo text-center">
                                    <a href="{% url 'pages:home' %}">
                                        <img src="{% static 'img/logo.png' %}" width="200" alt="">
                                    </a>
                                </div>
                                <div class="auth-form shadow-xl rounded-3  mt-5 bg-white">
                                    <div class="auth-form-title mb-4 slider-title-desc-center">
                                        <h2 class="text-center h4 text-muted title-font">{% trans 'Login|Signup' %}</h2>
                                    </div>

                                    {% with errors=form.otp.errors %}
                                        {% if errors %}
                                            <div class="alert text-center alert-danger">
                                                {% for error in errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            <div class="alert text-center alert-success">
                                                {% trans 'We sent a code to you please enter that' %}
                                            </div>
                                        {% endif %}
                                    {% endwith %}

                                    <div id="otp-input">
                                        {% for _ in code_length %}
                                            <input
                                                    placeholder="_"
                                                    type="{% if code_type == 'num' %}number{% else %}text{% endif %}"
                                                    step="1"
                                                    autocomplete="no"
                                                    class="{% if form.code.errors %}is-invalid{% endif %}"
                                            />
                                        {% endfor %}

                                        <form action="" method="post" id="otp_form">
                                            {% csrf_token %}
                                            <input id="otp-value" placeholder="_" type="hidden" name="otp"/>
                                        </form>

                                    </div>

                                    <!-- Countdown timer html -->
                                    <div class="countDownContainer">
                                        <div class="countdown-bar" id="countdownB">
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>

                                    <div class="form-group mt-3">
                                        <button type="submit" id="submit" class="btn btn-success w-100 mt-4 btn-login">
                                            {% trans 'Login' %}
                                        </button>
                                    </div>
                                </div>
                                <!-- todo: move rules database -->
                                <!-- rules begin -->
                                <p class="loginTermsDesc">با ورود و یا ثبت نام در شاهان شما <a
                                        class="underlined main-color-one-color fw-bold"
                                        href="/rules/">شرایط و
                                    قوانین</a> استفاده از سرویس‌های سایت شاهان و <a
                                        class="underlined main-color-one-color fw-bold"
                                        href="/privacy-polices/">قوانین حریم
                                    خصوصی</a> آن را می‌پذیرید.</p>
                                <!-- end rules -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/plugin/otp-sms/otp-input.js' %}"></script>
    <script src="{% static 'js/plugin/otp-loader/script.js' %}"></script>
    <script type="text/javascript">
        const resendForm = buildResendForm(
            "{% url 'accounts:login-request' %}",
            `{% csrf_token %}`,
            "{{ request.session.phone_number }}",
            "{% trans 'Get code again' %}"
        )
        $(document).ready(function () {
            countdown('countdownB', 0, 0, 0, {{ remaining_cooldown }}, resendForm);
        });
    </script>
{% endblock %}