<div class="product-desc-content">
    <input type="checkbox" class="read-more-state" id="readMore3"/>
    <!-- والد بیشتر ، کمتر ، تمام متن توضیحات باید داخل این تگ قرار بگیرند -->
    <div class="read-more-wrap">
        <h6 class="font-22 mb-2 title-font">معرفی محصول</h6>

        <p>
            اگر به دنبال تهیه یک هدفون بی‌سیم گیمینگ هستید، هدفون
            بلوتوثی مدل K55
            به‌عنوان
            یکی از جدیدترین گزینه‌های موجود در بازار ارزش بررسی را
            دارد. این مدل با
            ابعادی
            کوچک تولید شده است. ابعاد و وزن کم آن، جابه‌جایی این
            وسیله و استفاده
            طولانی‌مدت
            از آن را آسان می‌کند و باعث خستگی گوش‌ها نخواهد شد. این
            مدل برای اتصال
            به
            دستگاه‌ به بلوتوث نسخه 5.0 مجهز شده است و در مدت زمان
            اندکی، اتصال با
            گوشی
            موبایل اندروید یا ios شما برقرار خواهد شد. هدفون بی سیم
            K55 دارای یک
            میکروفون با
            کیفیت است و ...
        </p>

        <!-- متن بیشتر -->
        <div class="read-more-target">
            <p>
                و این ویژگی، آن را برای مکالمه مناسب می‌سازد. از ویژگی‌های
                اصلی این محصول محفظه نگهدارنده یا همان کیس آن است. این کیس
                قابلیت شارژ هدفون را دارد. برای شارژ آن کافی است از درگاه
                USB-C تعبیه شده بر روی کیس و کابل شارژ درون بسته‌بندی
                استفاده کنید. گفتنی است باتری 400 میلی‌آمپر ساعتی این هدفون
                در حدود 4-6 ساعت مکالمه و 4-6 ساعت پخش موسیقی را پاسخ‌گو
                خواهد بود.
            </p>
        </div>
        <!-- پایان متن بیشتر -->
    </div>
    <!-- پایان والد بیشتر کمتر -->
    <label for="readMore3" class="read-more-trigger"></label>
</div>