{% load i18n %}
<div class="product-desc py-20" id="descBox">
    <div class="container-fluid">
        {% with form_errors=comments_partial.context_data.form.errors %}
            <div class="product-desc-tab">
                <ul class="nav" id="productTab" role="tablist">
                    <li class="nav-item">
                        <button class="{% if not form_errors %}active {% endif %}waves-effect waves-light"
                                id="productDescLess"
                                data-bs-toggle="tab" data-bs-target="#productDescLess-pane" role="button"
                                type="button" aria-selected="true">
                            {% trans 'Overview' %}
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="waves-effect waves-light" id="productTable"
                                data-bs-toggle="tab" data-bs-target="#productTable-pane" role="button"
                                type="button" aria-selected="false">
                            {% trans 'Specifications' %}
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="{% if form_errors %}active {% endif %}waves-effect waves-light" id="productComment"
                                data-bs-toggle="tab" data-bs-target="#productComment-pane" role="button"
                                type="button" aria-selected="false">
                            {% trans 'Comments' %}
                        </button>
                    </li>
                </ul>
            </div>
            <div class="content-box">
                <div class="container-fluid">
                    <div class="product-descs" id="prodesc">
                        <div class="product-desc">
                            <div class="product-desc-tab-content">
                                <div class="tab-content" id="productTabContent">
                                    <div class="{% if not form_errors %}active show {% endif %}tab-pane fade product-desc-less-contents" id="productDescLess-pane">
                                        {% include 'products/components/product-description/_product-overview.html' %}
                                    </div>
                                    <div class="tab-pane fade" id="productTable-pane">
                                        {% include 'products/components/product-description/_product-specifications.html' %}
                                    </div>
                                    <div class="{% if form_errors %}active show {% endif %}tab-pane fade product-comment-content" id="productComment-pane">
                                        {{ comments_partial.rendered_content }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}
    </div>
</div>