{% load i18n %}
<div class="product-meta-overal my-3 bottom-border">
    <div class="row gy-3 align-items-center">
        <div class="col-md-4">
            {% with in_stock=product_variant.in_stock %}
                <div class="label-site rounded-pill bg-s {% if in_stock %}bg-success-subtle{% else %}bg-danger-subtle{% endif %}">
                    <i class="bi me-1 {% if in_stock %}bi-check-circle{% else %}bi-x-circle{% endif %}"></i>
                    {% if in_stock %}
                        {% trans 'In stock' %}
                    {% else %}
                        {% trans 'Out of stock' %}
                    {% endif %}
                </div>
            {% endwith %}
        </div>
        <div class="col-md-4">
            <div class="d-flex align-items-center">
                <span class="text-muted-two me-2">{% trans 'Category' %}</span>
                <div class="label-site rounded-pill">
                    {{ product_variant.product.category.name }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <span class="text-muted-two me-2">{% trans 'Product sku' %}</span>
            <span>{{ product_variant.sku }}</span>
        </div>
    </div>
</div>