{% load i18n %}
<div class="product-meta-overal my-3 bottom-border">
    <div class="row gy-3 align-items-center">
        <div class="col-md-4">
            <div class="label-site rounded-pill label-success">
                <i class="bi bi-check-circle me-1"></i>
                {% trans 'In stock' %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex align-items-center">
                <span class="text-muted-two me-2">{% trans 'Category' %}</span>
                <div class="label-site rounded-pill">
                    {{ product.category.name }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <span class="text-muted-two me-2">{% trans 'Product SKU' %}</span>
            <span>{{ default_variant.sku }}</span>
        </div>
    </div>
</div>